/* Colour variables */
:root {
  --GREY: #fefefe;
  --GREY_DARK: #e9e9e9;
  --GREY_DARKER: #c4c4c4;
  --BLUE: #11bdf3;
  --BLUE_LIGHT: #71b7d0cc;
  --BLUE_BRIGHT: #49d5ff;
  --GREEN_LIGHT: #71d0a0cc;
  --RED_LIGHT: #d07171cc;
  --WHITE: white;
  --BLACK: black;
  --TEXT_PRIMARY: #000000;
  --TEXT_SECONDARY: #6d6d6d;
}

body {
  background-color: var(--GREY);
  font-family: 'Roboto', 'Helvetica Neue';
  font-weight: 200;
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: var(--GREY_DARK);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  z-index: 9950;
}

.logo-link {
  color: var(--BLACK);
  text-decoration: none;
  height: 100%;
}

#logo-container {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, var(--BLUE), var(--GREY_DARK));
  padding: 8px;
  padding-right: 16px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 64px;
}

#logo-container > img {
  height: 30px;
  width: 30px;
  margin-right: 8px;
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#logo-container:hover > img {
  -webkit-transform: rotate(10deg) scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8);
}

.header-options {
  display: flex;
}

.header-options > a,
.header-options > button {
  margin-right: 16px;
}

.header-options:last-child {
  margin-right: 0;
}

main {
  margin-top: 80px;
}

.button-link-secondary {
  font-size: 12px;
  line-height: 16px;
  color: var(--BLUE);
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}

@media only screen and (min-width: 768px) {
  #logo-container > img {
    height: 100%;
    width: auto;
  }
}

/* home page */

.home-page {
  padding: 56px 16px;
}

.suggest-container {
  display: grid;
  grid-template-rows: auto 160px;
  row-gap: 16px;
  margin-bottom: 24px;
}

.suggest-container h2 {
  font-size: 24px;
  line-height: 24px;
}

.suggest-card-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
}

.suggest-card-container .card {
  width: 100px;
  height: 160px;
  background-color: var(--GREY_DARKER);
  border-radius: 4px;
  margin-right: 12px;
  cursor: pointer;
}

.card a {
  text-decoration: none;
  width: 100px;
  height: 100%;
  color: var(--WHITE);
  display: flex;
  justify-content: center;
  align-self: center;
  word-wrap: break-word;
}

.card-image_container {
  position: relative;
  top: 0;
  left: 0;
  width: 320px;
  height: 180px;
}

.card-image_container > img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-image_container > p {
  display: block;
  transition: opacity 400ms ease-in-out;
  opacity: 0;
}

.card-image_container:hover > p {
  /* display: block; */
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--BLUE_LIGHT);
  color: var(--BLACK);
  text-align: center;
  padding: 8px 0;
}

@media only screen and (min-width: 768px) {
  .home-page {
    padding: 48px 16px;
  }

  .suggest-container {
    grid-template-rows: auto 180px;
    margin-bottom: 48px;
  }

  .suggest-container h2 {
    font-size: 56px;
    line-height: 56px;
    font-weight: 200;
  }

  .suggest-card-container .card {
    width: 320px;
    height: 180px;
    margin-right: 24px;
  }

  .card a {
    text-decoration: none;
    width: 320px;
    height: 100%;
  }
}

/* site details page */

.main-container {
  padding: 24px 8px;
}

.panel {
  border: 1px solid var(--GREY_DARKER);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  padding: 24px;
  margin-bottom: 8px;
}

.panel-left > h1 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 200;
  margin-bottom: 8px;
}

.panel h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
  margin-bottom: 8px;
}

.panel h4 {
  font-size: 12px;
  line-height: 16px;
  color: var(--TEXT_SECONDARY);
  font-weight: 200;
  margin-bottom: 12px;
}

.stat-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.stat-container > p {
  font-size: 14px;
  line-height: 16px;
}

.star-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 2px;
}

#comment-form {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--GREY_DARK);
  margin-bottom: 24px;
}

#comment-label {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}

#comment {
  padding: 8px;
  font-family: 'Roboto', 'Helvetica';
  resize: vertical;
  margin-bottom: 8px;
  min-height: 24px;
}

.form-submit {
  align-self: flex-end;
  margin-bottom: 8px;
}

.form-submit > select {
  padding: 8px;
  font-size: 12px;
  line-height: 16px;
  background-color: var(--WHITE);
  color: var(--BLUE);
  border: 0px;
  box-shadow: inset 0 0 0 1px var(--BLUE);
  border-radius: 2px;
}

.form-submit > select:focus,
.form-submit > select:active {
  outline: none;
}

.button-primary {
  background-color: var(--BLUE);
  color: var(--WHITE);
  padding: 8px;
  font-size: 12px;
  line-height: 16px;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.button-primary:hover,
.button-secondary:hover {
  background-color: var(--BLUE_BRIGHT);
}

.button-link-secondary:hover {
  color: var(--BLUE_BRIGHT);
  font-weight: 300;
}

.button-secondary {
  background-color: var(--WHITE);
  color: var(--BLUE);
  padding: 8px;
  font-size: 12px;
  line-height: 16px;
  border: 0;
  border-radius: 2px;
  border: 1px solid var(--BLUE);
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}

.comment-container {
  margin-bottom: 24px;
}

.comment-heading-container {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(2, auto);
  row-gap: 8px;
  margin-bottom: 8px;
}

.comment-name {
  color: var(--TEXT_SECONDARY);
  font-size: 18px;
  line-height: 24px;
}

.comment-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comment-stars {
  transform-origin: 0 50%;
  transform: scale(0.8);
  margin-right: 8px;
}

.comment-time {
  font-size: 14px;
  line-height: 16px;
}

.comment-value {
  font-size: 14px;
  line-height: 16px;
}

@media only screen and (min-width: 768px) {
  .main-container {
    width: 752px;
    margin: 24px auto;
  }

  .panel-split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
  }

  .panel-left > h1 {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 16px;
  }

  .panel h3 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .panel h4 {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .panel-right {
    background-color: var(--GREY_DARKER);
    border-radius: 4px;
    cursor: pointer;
    width: 347px;
    height: 111px;
  }

  .panel-right > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .stat-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
  }

  #comment-label {
    font-size: 24px;
  }

  #comment {
    min-height: 48px;
  }
}

/* user page */

.user-page {
  padding: 48px 8px;
}

.small-panel {
  padding: 16px 8px;
}

.user-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.user-heading > h1 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 200;
}

.website-data {
  display: grid;
  grid-template-columns: 1fr 120px;
  column-gap: 8px;
  align-items: center;
}

.user-website-name {
  text-decoration: none;
  color: var(--TEXT_PRIMARY);
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .user-page {
    width: 752px;
    margin: 24px auto;
  }

  .user-heading {
    margin-bottom: 24px;
  }

  .user-heading > h1 {
    font-size: 32px;
    line-height: 32px;
  }

  .button-large {
    font-size: 16px;
    line-height: 24px;
    padding: 6px 24px;
  }

  .small-panel {
    padding: 16px 24px;
    font-size: 16px;
    line-height: 24px;
  }
}

/* Modal */

#signup-modal,
#login-modal {
  display: none;
}

.modal-overlay {
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}

.modal-content {
  position: relative;
  width: 320px;
  background-color: white;
  padding: 24px;
  border-radius: 4px;
}

.modal-close-button {
  font-size: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.modal-close-button:focus {
  outline: none;
}

.modal-header-title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 16px;
  font-weight: 400;
}

.modal-header-subtitle {
  font-size: 14px;
  line-height: 16px;
  color: var(--TEXT_SECONDARY);
  margin-bottom: 16px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-input-container > label {
  font-size: 16px;
  line-height: 24px;
}

.form-input-container > input {
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  border: 1px solid var(--BLACK);
  border-radius: 4px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.form-button-container {
  display: grid;
  grid-template-rows: repeat(2, 40px);
  row-gap: 8px;
}

/* CRUD site page */

.crud-site-page {
  padding: 48px 8px;
}

.crud-site-form {
  display: flex;
  flex-direction: column;
}

.crud-site-form > input,
.crud-site-form > textarea,
.crud-site-form > select,
.crud-site-form > button {
  margin-bottom: 24px;
}

#site_name {
  font-size: 24px;
  line-height: 24px;
  font-weight: 200;
}

#site_url {
  font-size: 14px;
  line-height: 16px;
  font-weight: 200;
  color: var(--BLUE);
}

.input-stripped {
  border: none;
}

.input-stripped:focus {
  border: none;
  outline: none;
}

.crud-submit {
  align-self: flex-end;
}

@media only screen and (min-width: 768px) {
  .crud-site-page {
    width: 752px;
    margin: 48px auto;
  }

  .crud-site-form > input,
  .crud-site-form > textarea,
  .crud-site-form > select,
  .crud-site-form > button {
    margin-bottom: 48px;
  }

  #site_name {
    font-size: 36px;
    line-height: 36px;
  }

  #site_url {
    font-size: 16px;
    line-height: 24px;
  }
}

/* Toasts */

.toast-wrapper {
  display: flex;
  flex-direction: column;
}

.toast-container {
  position: absolute;
  top: 72px;
  right: 24px;
  padding: 16px;
  z-index: 950;
  border-radius: 4px;
  width: 200px;
  word-wrap: normal;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  margin-bottom: 8px;
  animation-name: toastAnimation;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.success {
  background-color: var(--GREEN_LIGHT);
}

.error {
  background-color: var(--RED_LIGHT);
}

.info {
  background-color: var(--BLUE_LIGHT);
}

.toast-container > p {
  flex-grow: 4;
  font-size: 14px;
  line-height: 16px;
  color: var(--BLACK);
  font-weight: 300;
}

@keyframes toastAnimation {
  0% {
    transform: translateX(400px);
    opacity: 0;
  }
  75% {
    transform: translateX(-25px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

/* Other */

.close-button {
  flex-grow: 1;
  align-self: flex-start;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
