<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>Web App Store</title>
  </head>
  <body>
    <header>
      <a class="logo-link" href="{{ url_for('index')}}">
        <div id="logo-container">
          <img src="{{ url_for('static', filename='images/favicon.ico') }}" />
          WebApp Store
        </div>
      </a>
      <div class="header-options">
        <a
          class="button-link-secondary button-large"
          href="{{ url_for('index')}}"
        >
          Home
        </a>
        {% if session.user %}
        <a
          href="{{ url_for('user', username=session['user']) }}"
          class="button-link-secondary button-large"
          >{{ session['user'] }}</a
        >
        <a
          href="{{ url_for('logout') }}"
          class="button-link-secondary button-large"
          >Log out</a
        >
        {% if request.url_rule.endpoint != "createSite" %}<a
          class="button-primary button-large"
          href="{{ url_for('createSite') }}"
          >ADD</a
        >{% endif %} {% else %}
        <button class="button-link-secondary button-large open-login">
          Log in
        </button>
        <button class="button-link-secondary button-large open-signup">
          Sign up
        </button>
        {% endif %}
        <a class="button-link-secondary button-large open-info"> Info </a>
      </div>

      <div class="header-options-mobile">
        {% if session.user and request.url_rule.endpoint != "createSite" %}<a
          class="button-primary button-large"
          href="{{ url_for('createSite') }}"
          >ADD</a
        >{% endif %}
        <button class="hamburger-button"><i class="fas fa-bars"></i></button>
      </div>
    </header>
    {% if request.url_rule.endpoint == "index" or request.url_rule.endpoint ==
    "search" %}
    <div class="search-container">
      <form class="search-form" action="{{ url_for('search') }}" method="POST">
        <input
          name="query"
          id="query"
          class="search-input"
          type="text"
          placeholder="Search..."
          required
        />
        <button id="search-submit-btn" type="submit">
          <i class="fas fa-search white-text"></i>
        </button>
      </form>
    </div>
    {% endif %}
    <main>{% block content %} {% endblock %}</main>
    <!-- Mobile side menu -->
    <div class="mobile-menu">
      <button class="close-button"><i class="fas fa-times"></i></button>
      <div class="mobile-menu-container">
        <a
          class="mobile-menu-btn button-link-secondary button-large"
          href="{{ url_for('index')}}"
        >
          Home
        </a>
        {% if session.user %}
        <a
          href="{{ url_for('user', username=session['user']) }}"
          class="mobile-menu-btn button-link-secondary button-large"
          >{{ session['user'] }}</a
        >
        <a
          href="{{ url_for('logout') }}"
          class="mobile-menu-btn button-link-secondary button-large"
          >Log out</a
        >
        {% else %}
        <a
          class="mobile-menu-btn button-link-secondary button-large open-login"
        >
          Log in
        </a>
        <a
          class="mobile-menu-btn button-link-secondary button-large open-signup"
        >
          Sign up
        </a>
        <a class="mobile-menu-btn button-link-secondary button-large open-info">
          Info
        </a>
        {% endif %}
      </div>
    </div>
    <!-- Signup modal -->
    <div id="signup-modal" class="modal-overlay">
      <div class="modal-content">
        <button class="close-button"><i class="fas fa-times"></i></button>
        <p class="modal-header-title">Sign Up</p>
        <p class="modal-header-subtitle">
          Sign up to add comments, leave reviews, and submit your own websites!
        </p>
        <form method="POST" action="{{ url_for('signup') }}">
          <div class="form-input-container">
            <label for="username">Username</label>
            <input
              type="text"
              name="username"
              pattern="^[a-zA-Z0-9]{5,15}$"
              required
            />
            <label for="email">Email</label>
            <input type="email" name="email" required />
            <label for="password">Password</label>
            <input type="password" name="password" required />
            <label for="repassword">Repeat Password</label>
            <input type="password" name="repassword" required />
          </div>
          <div class="form-button-container">
            <button class="button-primary large" type="submit">Sign up</button>
            <button class="button-secondary large open-login" type="button">
              Already have an account?
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- Login modal -->
    <div id="login-modal" class="modal-overlay">
      <div class="modal-content">
        <button class="close-button"><i class="fas fa-times"></i></button>
        <p class="modal-header-title">Log In</p>
        <p class="modal-header-subtitle">
          Log in to add comments, leave reviews, and submit your own websites!
        </p>
        <form method="POST" action="{{ url_for('login') }}">
          <div class="form-input-container">
            <label for="email">Email</label>
            <input type="email" name="email" required />
            <label for="password">Password</label>
            <input type="password" name="password" required />
          </div>
          <div class="form-button-container">
            <button class="button-primary large" type="submit">Log in</button>
            <button class="button-secondary large open-signup" type="button">
              Create an account
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- Info modal -->
    <div id="info-modal" class="modal-overlay">
      <div class="modal-content">
        <button class="close-button"><i class="fas fa-times"></i></button>
        <p class="modal-header-title">Information</p>
        <p class="modal-header-subtitle">
          Welcome to the Website App Store! The inspiration for this website
          came from the idea of bridging mobile apps and websites.
        </p>
        <p class="modal-header-subtitle">
          Websites are generally viewed by consumers as functional products with
          apps being more appreciated for their visuals, whereas we know that
          websites, like apps, have huge focuses on aesthetics and visuals and
          we want to represent this.
        </p>
        <p class="modal-header-subtitle">
          Feel free to browse the website's here like candy in a shop! If you've
          created your own website, make sure to make an account and add it to
          the collection here. You must include a screenshot and you can link to
          your site from here.
        </p>
      </div>
    </div>
    <!-- Toast -->
    <div class="toast-wrapper">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="toast-container {{ category }}">
        <p>{{ message }}</p>
        <button class="toast-close-button" onclick="closeToast(this)">
          <i class="fas fa-times"></i>
        </button>
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>
  <script>
    function closeToast(flash) {
      console.log(flash.closest('.toast-container').remove());
    }
  </script>
</html>
