{% extends "base.html" %} {% block content %}
<div class="crud-site-page">
  <form
    class="crud-site-form"
    method="POST"
    action="{{ url_for('createSite') }}"
    enctype="multipart/form-data"
  >
    <input
      class="input-stripped"
      type="text"
      name="site_name"
      id="site_name"
      placeholder="Website Name"
      maxlength="30"
      autocomplete="off"
      required
    />
    <input
      class="input-stripped"
      type="text"
      name="site_url"
      id="site_url"
      placeholder="Website URL"
      autocomplete="url"
      required
    />
    <textarea
      id="comment"
      name="site_description"
      placeholder="Add a description for the site..."
      required
    ></textarea>
    <label for="site_img">Select image:</label>
    <input
      type="file"
      id="site_img"
      name="site_img"
      accept="image/*"
      required
    />
    <button type="submit" class="button-primary crud-submit">Publish</button>
  </form>
</div>
{% endblock %}
