{% extends "base.html" %} {% block content %}
<div class="crud-site-page">
  <form
    class="crud-site-form"
    method="POST"
    action="{{ url_for('createSite') }}"
  >
    <input
      class="input-stripped"
      type="text"
      name="site_name"
      id="site_name"
      placeholder="Website Name"
      maxlength="30"
      autocomplete="off"
    />
    <input
      class="input-stripped"
      type="text"
      name="site_url"
      id="site_url"
      placeholder="Website URL"
      autocomplete="url"
    />
    <textarea
      id="comment"
      name="site_description"
      required
      placeholder="Add a description for the site..."
    ></textarea>
    <!-- Come back to this -->
    <select name="type" id="type" aria-placeholder="Category" required>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
    <button type="submit" class="button-primary crud-submit">Publish</button>
  </form>
</div>
{% endblock %}
