{% extends "base.html" %} {% block content %}
<section class="home-page">
  <div class="suggest-container">
    <h2>Popular</h2>
    <div class="suggest-card-container">
      {% for website in websites.popular %}
      <div class="card">
        <a href='{{ url_for("siteDetails", websiteid=website._id) }}'>
          <div class="card-image_container">
            <img src="{{ website.image }}" />
            <p>{{ website.title }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="suggest-container">
    <h2>Recently Added</h2>
    <div class="suggest-card-container">
      {% for website in websites.recent %}
      <div class="card">
        <a href='{{ url_for("siteDetails", websiteid=website._id) }}'>
          <div class="card-image_container">
            <img src="{{ website.image }}" />
            <p>{{ website.title }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="suggest-container">
    <h2>Random</h2>
    <div class="suggest-card-container">
      {% for website in websites.random %}
      <div class="card">
        <a href='{{ url_for("siteDetails", websiteid=website._id) }}'>
          <div class="card-image_container">
            <img src="{{ website.image }}" />
            <p>{{ website.title }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
