{% extends "base.html" %} {% block content %}
<div class="main-container">
  <section class="panel">
    <div class="panel-split">
      <div class="panel-left">
        <h1>{{ website.title }}</h1>
        <h4>{{ website.description }}</h4>
        <div class="stat-container">
          <div class="star-container">
            {% for star in range(website.stars) %}
            <div class="star"><i class="fas fa-star"></i></div>
            {% endfor %} {% for star in range(5 - website.stars)%}
            <div class="star-outline"><i class="far fa-star"></i></div>
            {% endfor %}
          </div>
          <p>{{ website.reviews}} reviews</p>
        </div>
      </div>
      <a href="{{ website.url }}" target="_blank" class="panel-right">
        <img src="{{ website.image }}" />
      </a>
    </div>
    <div class="recent-update">
      {% if website.last_update%}
      <h3>Most Recent Update</h3>
      <h4>{{ website.last_update }}</h4>
      {% endif %}
    </div>
  </section>
  <section class="panel">
    <form
      id="comment-form"
      method="POST"
      action="{{ url_for('siteDetails', websiteid=website._id) }}"
    >
      <label id="comment-label" for="comment">Comments</label>
      <textarea id="comment" name="site-description" required></textarea>
      <div class="form-submit">
        <label id="stars-label" for="site-stars">Rating</label>
        <input
          name="site-stars"
          id="site-stars"
          type="range"
          min="0"
          max="5"
          class="star-slider"
          required
        />
        <select name="type" id="type" aria-placeholder="Category" required>
          <option value="">Category</option>
          <option value="comment">Comment</option>
          <option value="bug">Bug</option>
          {% if website.owner == session.user %}
          <option value="update">Update</option>
          {% endif %}
        </select>
        <button class="button-primary" type="submit">Comment</button>
      </div>
    </form>
    {% for comment in website.comments|sort(attribute='timestamp', reverse=true)
    %}
    <div class="comment-container cmt-type-{{ comment.comment_type }}">
      <div class="comment-heading-container">
        <p class="comment-name">{{comment.username}}</p>
        <div class="comment-data">
          {% if comment.stars %}
          <div class="comment-stars">
            <div class="star-container">
              {% for star in range(comment.stars) %}
              <div class="star"><i class="fas fa-star"></i></div>
              {% endfor %} {% for star in range(5 - comment.stars)%}
              <div class="star-outline"><i class="far fa-star"></i></div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
          <div class="comment-time">
            at {{ comment.timestamp.strftime("%m/%d/%Y, %H:%M:%S") }}
          </div>
        </div>
      </div>
      <p class="comment-value">{{ comment.value }}</p>
    </div>
    {% endfor %}
  </section>
</div>
{% endblock %}
