{% extends "base.html" %} {% block content %}
<div class="main-container">
  <section class="panel">
    <h1>{{ website.title }}</h1>
    <h4>{{ website.description }}</h4>
    <div class="stat-container">
      <div class="star-container">
        {% for star in range(website.stars) %}
        <div class="star"><i class="fas fa-star"></i></div>
        {% endfor %} {% for star in range(5 - website.stars)%}
        <div class="star-outline"><i class="far fa-star"></i></div>
        {% endfor %}
      </div>
      <p>{{ website.reviews}} reviews</p>
    </div>
    <div class="recent-update">
      {% if website.last_update%}
      <h3>Most Recent Update</h3>
      <h4>{{ website.last_update }}</h4>
      {% endif %}
    </div>
  </section>
  <section class="panel">
    <form onSubmit="(e) => e.preventDefault()">
      <!-- Make post request to website comments + update UI with comment -->
      <label for="comment">Comments</label>
      <textarea id="comment" name="comment"></textarea>
      <div class="form-submit">
        <select
          name="type"
          id="type"
          aria-placeholder="Comment type.."
          required
        >
          <option value="comment">Comment</option>
          <option value="bug">Bug</option>
          <option value="update">Update</option>
        </select>
        <button type="submit">Comment</button>
      </div>
    </form>
    {% for comment in website.comments %}
    <div class="comment-heading-container">
      <p class="comment-name">{{comment.username}}</p>
      <div class="comment-stars">Stars</div>
      <div class="comment-data">{{ comment.timestamp }}</div>
    </div>
    <p class="comment-value">{{ comment.value }}</p>
    {% endfor %}
  </section>
</div>
{% endblock %}
