{% extends "base.html" %} {% block content %}
<section class="store-page">
  {% if websites.sites %} {% if websites.searched %}
  <div class="user-heading">
    <h2>Search Results</h2>
  </div>
  {% else %}
  <div class="user-heading">
    <h2>Browse everything</h2>
  </div>
  {% endif %}
  <div class="store-list">
    {% for sites in websites.sites %}
    <div class="store-card-container">
      <a href='{{ url_for("siteDetails", websiteid=sites._id) }}'>
        <div class="store-card">
          <img src="{{ sites.image }}" />
          <p>{{ sites.title }}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <h2>Search Results</h2>
  <h4>No results found</h4>
  {% endif %}
</section>
{% endblock %}
