{% extends "base.html" %} {% block content %}
<div class="crud-site-page">
  <form
    class="crud-site-form"
    method="POST"
    action="{{ url_for('updateSite', websiteid=website._id) }}"
  >
    <input
      class="input-stripped"
      type="text"
      name="site_name"
      id="site_name"
      value="{{ website.title }}"
    />
    <input
      class="input-stripped"
      type="text"
      name="site_url"
      id="site_url"
      value="{{ website.url }}"
    />
    <textarea id="comment" name="site_description" required>
{{ website.description }}</textarea
    >
    <select name="type" id="type" aria-placeholder="Category" required>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
    <button type="submit" class="button-primary crud-submit">Update</button>
  </form>
</div>
{% endblock %}
