{% extends "base.html" %} {% block content %}
<div class='user-heading'>
    <h1>{{ user.username }}'s websites</h1>
  <a class='button-link-primary' href="url_for(add_website)">ADD</a>
</div>
<section class="website-list">
    {{ for website in user.websites }}
    <div class="panel">
        <div class='website-data'>
            <a href='url_for({{website.url}})''>{{ website.name }}</p>
            <p>Owner: {{ if website.isOwner: Yes else No }}</p>
            <a class='button-link-secondary' href="url_for(edit_website)">EDIT</a>
            <a class='button-link-secondary' href="url_for(delete_website)">DELETE</a>
        </div>
    </div>
    {{ endfor }}
</section>
{% endblock %}

