{% extends "base.html" %} {% block content %}
<div class="user-page">
  <div class="user-heading">
    <h1>{{ username }}'s websites</h1>
    <a class="button-primary button-large" href="{{ url_for('createSite') }}">
      ADD
    </a>
  </div>
  <section class="website-list">
    {% for website in user_websites %}
    <div class="panel small-panel">
      <div class="website-data">
        <a
          class="user-website-name"
          href="{{ url_for('siteDetails', websiteid=website._id) }}"
          >{{ website.title }}</a
        >
        <!-- <p>
          Owner: {% if website.isOwner: %}
          <span>Yes</span>
          {% else %}
          <span>No</span>
          {% endif %}
        </p> -->
        <div class="website-data-buttons">
          <a
            class="button-link-secondary"
            href="{{ website.url }}"
            target="_blank"
            >VISIT</a
          >
          <a
            class="button-link-secondary"
            href="{{ url_for('updateSite', websiteid=website._id) }}"
            >EDIT</a
          >
          <a
            class="button-link-secondary"
            href="{{ url_for('deleteSite', websiteid=website._id) }}"
            >DELETE</a
          >
        </div>
      </div>
    </div>
    {% endfor %} {% if not user_websites%}
    <p>No websites associated with this account.</p>
    {% endif %}
  </section>
</div>
{% endblock %}
