{% extends "base.html" %} {% block content %}
<div class="user-page">
  <div class="user-heading">
    <h1>{{ username }}'s websites</h1>
    <button class="button-primary button-large" href="url_for(add_website)">
      ADD
    </button>
  </div>
  <section class="website-list">
    {% for website in username.websites %}
    <div class="panel small-panel">
      <div class="website-data">
        <a class="user-website-name" href="website.url">{{ website.name }}</a>
        <p>
          Owner: {% if website.isOwner: %}
          <span>Yes</span>
          {% else %}
          <span>No</span>
          {% endif %}
        </p>
        <div class="website-data-buttons">
          <a class="button-link-secondary" href="#">EDIT</a>
          <a class="button-link-secondary" href="#">DELETE</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
</div>
{% endblock %}
